:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  transition: all 200ms linear;
}

body.light-mode{
  background-color: white;
  color: black;
}

header {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

p {
  padding: 20px;
  text-align: center;
}

#toggle-theme{
  background: none;
  font-size: 32px;
  display: inline-block;
  transition: all 100ms linear;
}

#toggle-theme:active{
  transform: scale(0.9);
}